<!DOCTYPE html>
<html>
  <head>
    <title>Latermuse</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="http://www.asdf.com/style.css">
  </head>
  <body>
    <div class="body">
      <div class="logo">
        <div class="title"><h1><a href="http://www.asdf.com/">asdf</a></h1></div>
        <div class="catchPhrase"><h2>Haskell Adventures</h2></div>
      </div>
    <div class="rss"><a href="http://www.asdf.com/rss/rss.xml">RSS Feed</a></div>
    <div class="posts">

